<div class="text-center d-flex flex-column"
     style="padding: 50px;background: rgb(33,37,41);border-radius: 8px;align-items: center;">

    <svg class="bi bi-printer-fill text-center text-light text-opacity-75" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 212px;">
        <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"></path>
        <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"></path>
    </svg>
    <form>

        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Style="text-align: right;">
                <RadzenLabel Style="color:#c2c4c5" Text="نام کاربری" Component="CardNr" />
                <RadzenTextBox Style="width: 100%; margin-top:5px" @bind-Value="@username" />
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow AlignItems="AlignItems.Center" Style=" margin-top:20px">
            <RadzenColumn Style="text-align: right;">
                <RadzenLabel Style="color:#c2c4c5" Text="گذرواژه" Component="CardNr" />
                <RadzenPassword Style="width: 100%; margin-top:5px" @bind-Value="@password" />
            </RadzenColumn>
        </RadzenRow>



        <RadzenButton ButtonStyle="ButtonStyle.Light" ButtonType="ButtonType.Submit" Style="margin-top:20px;">ورود</RadzenButton>
    </form>
</div>

@code {
    string username;
    string password;

    [Parameter]
    public LoginTypeEnum LoginTypeEnum { set; get; }
}
